.cabec{
    width: 806px;
    margin: auto;
    text-align: center;
    font-size: 2em;
    background-color: aquamarine;
    border-radius: 3px;
    display: flex;
    align-content: center;
}

.quadro{
    width: 806px;
    margin: auto;
    height: 100px;
    border-radius: 3px;
    font-size: 2em;
    background-color: cyan;
    display: flex;
    flex-wrap: wrap;
}

.quadro2{
    width: 70%;
    margin-left: 15%;
    height: 120px;
    border-radius: 3px;
    font-size: 1em;
    background-color: cyan;
}

.titulos{
    font-size: 2em;
    width: 806px;
    height: 50px;
    margin: auto;
    background-color: cadetblue;
    border-radius: 3px;
    display: flex;
}

.linha{
    display: flex;
    height: 40px;
    margin: 0;
}

.jog{
    width: 395px;
    text-align: left;
}

.saque{
    width: 100px;
    text-align: center;
}

.sets{
    width: 100px;
    text-align: center;
}

.games{
    width: 100px;
    text-align: center;
}

.pontos{
    width: 100px;
    text-align: center;
}

.break {
    flex-basis: 100%;
    height: 0;
}

@media screen and (min-width: 500px;) {
    
    body{
        flex-direction: row;
        justify-content: space-around;
    }
    
    div{
        flex-direction: row;
        width: 70%;
    }
}
